
//variableitems
$text: #444444;
$lightgrey: #949494;
$palewhite: #E7E7E7;
$positive: #3CD278;




.App {
    height: 100vh;
    width: 100vw;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.cardGrid {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}