.mainCard {
    width: 100%;
    max-width: 310px;
    min-width: 220px;
    &__inner {
        position: relative;
        margin: 8px;
        background: #fff;
        border-radius: 8px;
        border: solid 1px #E7E7E7;
        text-align: left;
        overflow: hidden;
        .profileBanner {
            height: 92px;
            position: relative;
            button.settingBtn {
                background: transparent;
                border: none;
                position: absolute;
                right: 18px;
                top: 12px;
                padding: 0px;
                cursor: pointer;
            }
            .tooltips {
                position: absolute;
                background: #fff;
                padding: 8px 16px;
                border-radius: 4px;
                width: 100%;
                max-width: 100px;
                box-shadow: 0px 10px 20px #00000052;
                top: 37px;
                z-index: 100;
                right: 18px;
                display: none;
                &.show {
                    display: block !important;
                }
                a {
                    font-size: 12px;
                    text-decoration: none !important;
                    color: #333;
                    font-weight: 600;
                }
            }
        }
        .profilePhoto {
            padding-left: 16px;
            margin-top: -40px;
            position: relative;
            z-index: 2;
            .profileImg {
                width: 84px;
                height: 84px;
                border-radius: 50%;
                background-size: contain !important;
                border: solid 5px #fff;
            }
            button.FollowBtn {
                &.greyBtn {
                    background: #e7e7e7 !important;
                    box-shadow: none !important;
                    color: $text !important;
                }
                img {
                    width: auto !important;
                    border-radius: unset !important;
                    margin-right: 8px;
                }
                padding: 7px 12px;
                font-size: 14px;
                border-radius: 50px;
                border: none;
                position: absolute;
                top: 27px;
                right: 16px;
                font-weight: 700;
                color: #fff;
                background: $positive;
                box-shadow: 0px 5px 10px #3cd2782b;
                transition: all 0.3s;
                cursor: pointer;
                font-family: 'quicksand';
                &:hover {
                    box-shadow: 0px 5px 10px #3cd27878;
                    transition: all 0.3s;

                }
            }
        }
        .profileBio {
            padding: 0px 16px;
            margin: 13px 0px;
            .profileName {
                display: flex;
                margin-bottom: 8px;
                align-items: center;
                flex-wrap: wrap;
                h5 {
                    font-size: 14px;
                    font-weight: 400 5px 0px;
                    color: $text;
                    margin: 5px 4px 5px 0px;
                }
                p {
                    font-size: 12px;
                    font-weight: 400;
                    color: $lightgrey;
                    margin: 5px 4px 5px 0px;
                }
            }
            .bio {
                font-size: 12px;
                line-height: 15px;
                margin-right: 10px;
                color: $text;
            }
        }
        .profileStat {
            padding: 0px 16px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            flex-wrap: wrap;
            h5.followers {
                font-size: 12px;
                font-weight: 800;
                color: $text;
                margin: 5px 4px 5px 0px;
                span {
                    font-weight: 400;
                }
            }
            span.circleSparator {
                background: $palewhite;
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50px;
                margin: 0px 8px;
                color: $text;
                margin: 5px 4px 5px 0px;
            }
            h6.prof {
                font-size: 12px;
                font-weight: 600;
                color: $text;
                margin: 5px 4px 5px 0px;
            }
        }
        .socialMediaBox {
            padding: 0px 16px 20px;
            display: flex;
            a.SocialMeidaBtn {
                background: $palewhite;
                width: 30px;
                height: 30px;
                margin-right: 8px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 18px;
                }
            }
        }
    }
}